In [28]:
import os
import pandas as pd
import numpy as np
import time
import re

import logging
import sys
import Clean_and_Merge

# Define global variables
# get current directory
path = os.getcwd()
# parent directory
parent = os.path.dirname(path)

station_data_path = os.path.join(parent,'data/station_data.csv')
corn_data_path = os.path.join(parent,'data/USDA_corn.csv')

In [29]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [83]:
clean = Clean_and_Merge.CleanAndMerge(station_data_path, corn_data_path)

In [84]:
merged_data = clean.clean_and_merge_datasets()

Missing data removed
Data type converted
ymd extracted
month shifted
['1' '2' '3' '4' '5' '6' '7' '8' '12_prev']
aggregating values
['year', 'week']
  station  year  gdd_50_86_mean_1  gdd_50_86_mean_10  gdd_50_86_mean_11  \
0  IA0000  1951               0.0           0.357143           0.000000
1  IA0000  1952               0.0           0.000000           0.000000
2  IA0000  1953               0.0           0.000000           0.857143
3  IA0000  1954               0.0           0.000000           0.571429
4  IA0000  1955               0.0           2.214286           1.000000

   gdd_50_86_mean_12  gdd_50_86_mean_13  gdd_50_86_mean_14  gdd_50_86_mean_15  \
0           0.000000           0.000000           0.500000           0.285714
1           0.142857           0.500000           2.071429           2.714286
2           3.500000           1.428571           0.928571           1.642857
3           0.571429           0.000000           6.214286           8.500000
4           0.000000           4.285714           5.285714           8.142857

   gdd_50_86_mean_16  ...  era5land_soilm4_avg_max_29  \
0           2.071429  ...                    0.356438
1           5.428571  ...                    0.362989
2           0.785714  ...                    0.277799
3           7.142857  ...                    0.271365
4          11.142857  ...                    0.208470

   era5land_soilm4_avg_max_3  era5land_soilm4_avg_max_30  \
0                   0.339390                    0.362410
1                   0.414576                    0.306648
2                   0.367160                    0.258120
3                   0.312799                    0.222073
4                   0.338249                    0.203721

   era5land_soilm4_avg_max_31  era5land_soilm4_avg_max_4  \
0                    0.279929                   0.328287
1                    0.193614                   0.396186
2                    0.244067                   0.334446
3                    0.281105                   0.324574
4                    0.243463                   0.328752

   era5land_soilm4_avg_max_5  era5land_soilm4_avg_max_6  \
0                   0.320756                   0.342142
1                   0.396624                   0.393426
2                   0.332039                   0.371651
3                   0.341295                   0.315506
4                   0.331043                   0.328949

   era5land_soilm4_avg_max_7  era5land_soilm4_avg_max_8  \
0                   0.380892                   0.393565
1                   0.389087                   0.389373
2                   0.385974                   0.389756
3                   0.393785                   0.371610
4                   0.399582                   0.395289

   era5land_soilm4_avg_max_9
0                   0.411868
1                   0.367583
2                   0.363355
3                   0.341023
4                   0.384355

[5 rows x 870 columns]
values aggregated
datasets merged

In [52]:
# check number of unique counties
clean.merged_data['county'].nunique()

99

In [85]:
merged_data

,year,gdd_50_86_mean_1,gdd_50_86_mean_10,gdd_50_86_mean_11,gdd_50_86_mean_12,gdd_50_86_mean_13,gdd_50_86_mean_14,gdd_50_86_mean_15,gdd_50_86_mean_16,gdd_50_86_mean_17,...,era5land_soilm4_avg_max_5,era5land_soilm4_avg_max_6,era5land_soilm4_avg_max_7,era5land_soilm4_avg_max_8,era5land_soilm4_avg_max_9,lat,lon,elev,county,Value
0,1951,0.0,0.357143,0.000000,0.000000,0.000000,0.500000,0.285714,2.071429,6.857143,...,0.320756,0.342142,0.380892,0.393565,0.411868,41.75000,-93.25000,259.0000,Jasper,49.8
6661,1951,0.0,0.000000,0.000000,0.000000,0.000000,0.642857,0.571429,1.642857,5.928571,...,0.325342,0.319251,0.379482,0.411156,0.428952,42.49420,-91.68340,327.0000,Buchanan,42.9
651,1951,0.0,0.285714,0.000000,0.000000,0.000000,1.714286,0.714286,3.071429,8.214286,...,0.344100,0.377554,0.421600,0.426379,0.414237,41.88000,-92.27000,229.0000,Benton,56.3
3330,1951,0.0,2.285714,0.000000,1.214286,2.000000,2.571429,1.000000,5.428571,11.857143,...,0.331700,0.412300,0.430771,0.420050,0.408425,40.72000,-91.97000,165.0000,Davis,32.5
3329,1951,0.0,2.285714,0.000000,1.214286,2.000000,2.571429,1.000000,5.428571,11.857143,...,0.331700,0.412300,0.430771,0.420050,0.408425,40.72000,-91.97000,165.0000,Van Buren,37.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,2023,0.0,0.142857,0.428571,1.142857,3.785714,6.428571,16.214286,4.142857,5.285714,...,0.385950,0.420308,0.405583,0.408167,0.409329,41.80000,-90.27000,178.0000,Scott,210.1
1662,2023,0.0,0.142857,0.428571,1.142857,3.785714,6.428571,16.214286,4.142857,5.285714,...,0.385950,0.420308,0.405583,0.408167,0.409329,41.80000,-90.27000,178.0000,Clinton,198.0
1517,2023,0.0,1.071429,0.857143,1.928571,3.571429,7.928571,11.500000,4.428571,7.285714,...,0.335962,0.377554,0.380008,0.375875,0.411008,40.72000,-95.03000,299.0000,Taylor,192.9
2165,2023,0.0,0.000000,0.785714,2.214286,5.285714,6.857143,12.928571,4.928571,6.642857,...,0.382721,0.393700,0.393829,0.386338,0.414883,41.53000,-93.65000,285.0000,Polk,206.4
7168,2023,0.0,0.000000,0.928571,0.357143,2.857143,6.857143,12.714286,4.071429,6.785714,...,0.322788,0.395121,0.423538,0.380525,0.416563,42.39168,-96.37948,328.8499,Woodbury,168.3